{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">     

      <form class="form" action="/personal-details" method="post">

        <p>
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "preferred destination?",
  value: data["preferred destination?"],
  
  
  fieldset: {
    legend: {
      text: "What’s your preferred destination?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      
     
    }
    
  },
  
  items: [
    {
      value: "Moon",
      text: "Moon"
    },
    {
      value: "Mars",
      text: "Mars"
    }
    
  ]
  
}) 
}}
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
